* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    text-align: center;
    font-family: "DM Sans";
}

h1 {
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 15px;
    text-shadow: 1px 1px black;
    font-size: 4rem;
}

h2 {
    margin-top: 50px;
    font-size: 2rem;
    font-family: "DM Sans";
    padding-bottom: 40px;
}

h3 {
    font-size: 1.7rem;
}

p {
    font-size: 17px;
    font-weight: 400;
}

#hero-img {
    height: 400px;
    background-image: url("images/chicago-aerial-view.webp");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#main-section {
    height: 700px;
}

#ending-section {
    height: 650px;
    background-color: #d8edf8;
    padding: 40px;
}

#things-to-do-section {
    display: flex;
    justify-content: space-around;
}

.section-img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    border: 5px solid #c94027;
    object-fit: cover;
}

.thing-to-do {
    width: 300px;
}

.thing-to-do-text {
    height: 200px;
}

#jazmin-img {
    width: 400px;
    height: 400px;
    border-radius: 15px;
    border: 2px solid darkgray;
}

#about-section {
    display: flex;
    justify-content: space-around;
}

#dev-info {
    width: 400px;
    height: 400px;
    border-radius: 15px;
    background-color: white;
    padding: 20px;
}

.little-larger-font {
    font-size: 28px;
}

#meet-jaz-text {
    margin-top: 20px;
    margin-bottom: 20px;
}